<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="heroku">
		<classes>
			<class name="heroku.tests.ContextClickTest" />
			<class name="heroku.tests.NestedFramesTest" />
			<class name="heroku.tests.ModalTest"/>

		</classes>
	</test>
	<test thread-count="5" name="nop.commerce">
		<classes>
			<class name="tests.SortingTest" />
			<class name="tests.HoverNavigationTest" />
			<class name="tests.TestBase" />
			<class name="tests.ScrollTest" />

		</classes>
	</test>
</suite> 
